<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Management</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">

<h3>Order Management</h3>

<form method="get" class="row mb-3">
    <div class="col-md-2">
        <select name="status" class="form-select">
            <option value="">All</option>
            <option th:each="s : ${statuses}"
                    th:value="${s}"
                    th:text="${s}"
                    th:selected="${s == currentStatus}">
            </option>
        </select>
    </div>

    <div class="col-md-3">
        <input type="text" name="keyword"
               th:value="${keyword}"
               placeholder="Search by name customer"
               class="form-control"/>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary">Find</button>
    </div>
</form>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${orders.content}">
        <td th:text="${o.orderId}"></td>
        <td th:text="${o.user.fullName}"></td>
        <td th:text="${o.phone}"></td>
        <td th:text="${o.shippingAddress}"></td>
        <td th:text="${o.totalAmount}"></td>

        <td>
            <form th:action="@{/orders/update-status}" method="post">
                <input type="hidden" name="id" th:value="${o.orderId}">
                <select name="status" class="form-select"
                        onchange="this.form.submit()">
                    <option th:each="s : ${statuses}"
                            th:value="${s}"
                            th:text="${s}"
                            th:selected="${s == o.orderStatus}">
                    </option>
                </select>
            </form>
        </td>

        <td class="d-flex gap-1">

    <!-- Update Button -->
    <a th:href="@{/orders/edit/{id}(id=${o.orderId})}"
       class="btn btn-warning btn-sm">
        Update
    </a>

    <!-- Delete Button -->
    <a th:href="@{/orders/delete/{id}(id=${o.orderId})}"
       class="btn btn-danger btn-sm"
       onclick="return confirm('Are you sure to delete this order?')">
        Delete
    </a>

</td>
    </tr>
    </tbody>
</table>

<!-- Pagination -->
<nav>
    <ul class="pagination">
        <li class="page-item"
            th:each="i : ${#numbers.sequence(0, orders.totalPages-1)}">
            <a class="page-link"
               th:href="@{/orders(page=${i}, status=${currentStatus}, keyword=${keyword})}"
               th:text="${i+1}">
            </a>
        </li>
    </ul>
</nav>

</body>
</html>